@define-color nord0 #2E3440; /* plain text */
@define-color nord1 #3B4252; /* more subtle text, highlighted text */
@define-color nord2 #434C5E; /* same as @nord1 but brighter */
@define-color nord3 #4C566A; /* most subtle texts that don't need attention */
@define-color nord4 #D8DEE9; /* elevated/focused ui elements */
@define-color nord5 #E5E9F0; /* currently active element */
@define-color nord6 #ECEFF4; /* background color */
@define-color nord7 #8FBCBB; /* elements requiring attention */
@define-color nord8 #88C0D0; /* main elements requiring attention */
@define-color nord9 #81A1C1; /* secondary elements requiring attention */
@define-color nord10 #5E81AC; /* tertiary elements requiring attention */
@define-color nord11 #BF616A; /* elements rendering error states */
@define-color nord12 #D08770; /* elements rendering dangerous functionality */
@define-color nord13 #EBCB8B; /* elements rendering warning states */
@define-color nord14 #A3BE8C; /* elements rendering success states */
@define-color nord15 #B48EAD; /* rarely used (uncommon functionality) */

* {
  border-radius: 0; /* this doesn't default to 0 for some reason */
  font-family: "Clear Sans", "Font Awesome 6 Free Solid";
}

window * {
  font-size: 13px;
}

window .modules-center {
  padding: 5px 0;
}

/* scale DP-1 1.5x */
window.DP-1 * {
  font-size: 19.5px;
}

window.DP-1 .modules-center {
  padding: 7.5px 0;
}

window#waybar {
  background-color: @nord6;
  color: @nord0;
  margin: 3px 0;
}

window#waybar.empty {
  color: @nord6;
}

.topbar {
  border-bottom: 3px solid @nord4;
}

#workspaces button {
  padding: 0 2px;
  border: 0;
  background-color: transparent;
  color: @nord0;
}

#workspaces button:hover {
  background: @nord4;
}

#workspaces button.focused, #workspaces button.active {
  background-color: @nord4;
}

#workspaces button.urgent {
  box-shadow: inset 0 -3px @nord4;
  background-color: @nord8;
}

#clock,
#custom-poweroff,
#custom-weather,
#pulseaudio,
#tray {
  padding: 0 6px;
  color: @nord0;
}
