@define-color nord0 #2E3440;
@define-color nord1 #3B4252;
@define-color nord2 #434C5E;
@define-color nord3 #4C566A;
@define-color nord4 #D8DEE9;
@define-color nord5 #E5E9F0;
@define-color nord6 #ECEFF4;
@define-color nord7 #8FBCBB;
@define-color nord8 #88C0D0;
@define-color nord9 #81A1C1;
@define-color nord10 #5E81AC;
@define-color nord11 #BF616A;
@define-color nord12 #D08770;
@define-color nord13 #EBCB8B;
@define-color nord14 #A3BE8C;
@define-color nord15 #B48EAD;

/* Nord-Light specific defines */
@define-color bg @nord6;
@define-color bg2 @nord4;
@define-color fg @nord0;
@define-color fgactive @nord1;
@define-color divider @nord3;


/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
}

#waybar {
  background: @bg;
  color: @fg;
  border: 2px solid @bg2;
  border-radius: 16px;
  font-size: 12px;
}

#waybar #workspaces {
  padding-left: 10px;
  font-size: 18px;
}

#waybar #workspaces button.visible, #waybar #workspaces button:hover {
  background: none;
  color: @nord8;
}

#waybar #workspaces button.urgent {
  color: @nord12;
}

#waybar #clock {
  padding-right: 10px;
}

#waybar #custom-divider {
  color: @nord4;
  font-size: 24px;
}
