@define-color nord0 #2E3440; /* plain text */
@define-color nord1 #3B4252; /* more subtle text, highlighted text */
@define-color nord2 #434C5E; /* same as @nord1 but brighter */
@define-color nord3 #4C566A; /* most subtle texts that don't need attention */
@define-color nord4 #D8DEE9; /* elevated/focused ui elements */
@define-color nord5 #E5E9F0; /* currently active element */
@define-color nord6 #ECEFF4; /* background color */
@define-color nord7 #8FBCBB; /* elements requiring attention */
@define-color nord8 #88C0D0; /* main elements requiring attention */
@define-color nord9 #81A1C1; /* secondary elements requiring attention */
@define-color nord10 #5E81AC; /* tertiary elements requiring attention */
@define-color nord11 #BF616A; /* elements rendering error states */
@define-color nord12 #D08770; /* elements rendering dangerous functionality */
@define-color nord13 #EBCB8B; /* elements rendering warning states */
@define-color nord14 #A3BE8C; /* elements rendering success states */
@define-color nord15 #B48EAD; /* rarely used (uncommon functionality) */

* {
    border: none;
    border-radius: 0;
    font-family: "Clear Sans", "Font Awesome 6 Free Solid";
    min-height: 0;
}

window * {
  font-size: 13px;
}

window .modules-center {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* scale DP-1 1.5x */
window.DP-1 * {
  font-size: 19.5px;
}

window.DP-1 .modules-center {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

window#waybar {
    background-color: @nord6;
    color: @nord0;
    transition-property: background-color;
    transition-duration: .5s;
    margin-top: 3px;
    margin-bottom: 3px;
}

window#waybar.empty {
    color: @nord6;
}

.topbar {
    border-bottom: 3px solid @nord4;
}

.bottombar {
    border-top: 3px solid @nord4;
}

#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: @nord0;
}

#workspaces button:hover {
    background: @nord5;
    box-shadow: inset 0 3px @nord4;
}

#workspaces button.focused, #workspaces button.active {
    background-color: @nord5;
    box-shadow: inset 0 3px @nord4;
}

#workspaces button.urgent {
    background-color: @nord8;
}

#clock,
#custom-poweroff,
#custom-weather,
#pulseaudio,
#tray {
    padding: 0 6px;
    margin: 0 0px;
    color: @nord0;
}
